body {
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.cv-container {
    width: 1000px;
    margin: auto;
    z-index: 1;

    display: flex;
    flex-direction: row;
}

.left-side{
    width: 35%;
    height: 98vh;
    background-color: #2C323E;
    color: #ffffff;
}

.right-side {
    width: 65%;
    height: 98vh;
    color: #2C323E;
}

.content {
    margin: 50px;
}

.avatar {
    background-image: url("./testimonials_woman5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ddd;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}
